<%= notice %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>

<body>

  <div class="container">
    <div class ="row">
      <div class = "col-xs-3">
        <%= render 'error',book: @book %>
        <%= render 'users/userinfo',user: @user,book: @book_new %>
        <%= render 'book',books: @books, user: current_user %>


          </div>
        </div>
      </body>
